/* Imports
===================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');


/* Styles
==================== */
.app {
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.content {
  flex: 1 1;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
